.container {
    margin-top: 3rem;
}

button {
    margin: .5rem !important;
    padding: .5rem 2rem !important;
}

.keypad-container {
    margin-top: 5rem !important;
}

.keypad {
    border-radius: 2rem !important;
}

.alert {
    height: 10% !important;
    width: 16% !important;
    position: fixed !important;
}

.delete {
    font-size: 20px !important;
    font-weight: bold !important;
    color: red !important;
    cursor: pointer !important;
}